.header nav {
	display: none;
}

.header,
.content,
.footer {
	text-align: center;
}
.header,
.footer {
	background: #4bb5ef;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 50px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0 50px;
}
.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a {
	display: block;
	width: 28px;
	height: 18px;
	padding: 11px;
	margin: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.header a:before,
.header a:after {
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span {
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content {
	padding: 150px 50px 50px 50px;
}

.header {
    background:none;
}
.footer
{
    background-color:#111;
}


.header a {
    width: 60px;
}

.header{
    background: none;
    display: none;
}
@media (max-width: 480px) 
{
	.header
	{
    display:inline!important;
	}
	.main-menu .navbar-header 
	{
    display: none;
    }
.header a
 {
    top: 120px;
   left: 260px;
}
.header a:before, .header a:after 
{
    background: #000000!important;
}
.header a span 
{
    background: #ac1111!important;
}
.rev_slider_wrapper 
{ 
    margin-top: -50px;
}
.mm-spn li {
    font-size: 20px;
}
.mm-spn.mm-spn--navbar:after
{
    font-size: 20px;
    color: #000000;
}
.header, .footer {
    line-height: 20px;
}
.mainmenu-area {
    margin-top: -16px;
}
.footer {
    margin-bottom: -52px!important;
	font-size: 10px!important;
}
.mm-spn.mm-spn--light
{
    background: #000000!important;
}
.mm-spn.mm-spn--navbar ul {
    top: 51px;
    
    background-color: #000000!important;
}
}

.mm-spn.mm-spn--light {
    color: #444;
    background: red;
}
